.variants-container{
  .recommend-bar{
    display: flex;
    justify-content: space-between;
  }
  .app-list-container{
    display: flex;
    margin-top: 10px;
    .app-list-app-icon{
      margin-right: 5px;
    }
  }
}