.recommend-container {
  padding: 15px 0px;
  border-bottom: 2px solid #e6e6e6;

  .app-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 5px;

    .app-image {
      width: 80px;
      height: 80px;
      border-radius: 16px;
    }

    .app-info-name-category {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      .app-name {
        text-align-last: center;
        white-space: nowrap;
        overflow: hidden;
        width: 100px;
        text-overflow: ellipsis;
      }

      .app-category {
        color: #BDBCBD;
      }
    }
  }
}