.row-box {
  display: flex;
  margin: 0px 10px;
  padding: 15px 0px;
  color: #BDBCBD;
  border-bottom: 2px solid #e6e6e6;

  .ranking-number {
    align-self: center;
  }

  .app-image {
    width: 70px;
    height: 70px;
    margin: 0px 10px 0px 20px;
  }

  .app-image-circular{
    border-radius: 50px;
  }
  .app-image-rounded{
    border-radius: 16px;
  }

  .app-info-name-category {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .app-name {
      color: #000000;
    }

    .app-category {

    }
  }
}