.app-container {
  display: flex;
  justify-content: center;

  .main-container {
    width: 50vw;
    @media screen and (max-width: 768px) {
      width: 100%;
    }

    .recommend-bar-little {
      padding-left: 10px;
    }

    .recommend-bar {
      display: flex;
      overflow: auto;
      //&::-webkit-scrollbar {
      //  display: flex;
      //}
      @media screen and (max-width: 768px) {
        &::-webkit-scrollbar {
          display: none;
        }
      }

    }

    .app-list {
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}